html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Montserrat";
    font-weight: 200;

    text-rendering: optimizeLegibility;
    /*background:url(images/fon.png);*/
}

.clearfix {
    clear: both;
}

:focus {
    outline: none;
}

/* Header Row ------------------------------------*/
/* -----------------------------------------------*/

.navi {
    display: inline-block;
    height: 80px;
    float: left;
    width: 95%;
    margin-right: 40px;
    overflow: hidden;
}

p {
    font-size: 18px;
    padding-left: 40px;
    margin-top: 34px;
    text-shadow: 2px 1px 4px rgba(178, 178, 178, 0.8)
}

p.small {
    font-size: 17px;
    font-weight: 200;
    margin-top: 35px;
    text-align: center;
    padding: 0;
    color: #3d3d3d;
    text-shadow: none
}

.icon-small {
    font-size: 30px;
    display: block;
    color: #3d3d3d;
    margin-top: 30px;
}

.icon-box {
    box-sizing: border-box;
    text-align: center;
}

.navi img {
    width: 40px;
    height: 40px;
    margin-top: 26px;
}

/* Gallery Row -----------------------------------*/
/* -----------------------------------------------*/

.gallery {
    margin: 10px 0;
    padding: 0 0 0 40px;
    overflow: auto;
    height: 80vh;
}

a {
    display: inline-block;
    width: 160px;
    height: 112px;
    position: relative;
    /*border:2px solid #fff;*/
}

a img {
    display: block;
    width: 100%;
    height: 100%;
    transition-property: width, height, top, bottom, left, right, z-index;
    transition-duration: .5s;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px #c3c3c3;
    user-select: none;
}

.closed-layer {
    display: none;
    position: absolute;
    top: 87px;
    left: 0px;
    width: 100%;
    height: 80vh;
    background: transparent;
    z-index: 30;
    cursor: pointer;
}

a:focus~.closed,
a:focus~.closed-layer {
    display: block;
    /*
    left: 100px;
    top: 100px;
*/
}

a:focus {
    border: none;
}

a:focus img {
    display: block;
    width: 250%;
    height: 250%;
    /*    position: absolute;*/
    /*    box-shadow: none;*/
    margin: auto;
    vertical-align: middle;
    transition-property: width, height, top, bottom, left, right, z-index;
    transition-duration: .5s;
    cursor: default;
    z-index: 10;
}


/*
a:focus:nth-child(4n+1) img {left: 150px;}
a:focus:nth-child(4n+2) img {left: -50px;}
a:focus:nth-child(4n+3) img {left: -250px;}
a:focus:nth-child(4n+4) img {left: -460px;}
a:focus:nth-child(n+4) img {top: 140px;}
a:focus:nth-child(n+9) img {top: -150px;}
a:focus:nth-child(n+13) img {top: -295px;}
*/

/* Tooltips --------------------------------------*/
/* -----------------------------------------------*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #333;
    opacity: .9;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 2px;
    padding: 3px 0;
    position: absolute;
    z-index: 2;
    top: 110%;
    left: 65%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


